@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* Estilos base para el tema */
html,
body {
    background-color: #ffffff !important;
    color: #000000 !important;
    transition:
        background-color 0.2s,
        color 0.2s;
}

html.dark,
html.dark body {
    background-color: #000000 !important;
    color: #ffffff !important;
}

:root {
    --bs-blue: #1c6ec1;
}
